<div class="container">
    <div class="product-listing row">
        {{#if products}}
            {{#each products }}
                {{> product-listing }}
            {{/each}}
        {{/if}}    
    </div>
</div>

