<div class="product-singel">
    <div class="product-singel__image">
        <img src="" data-src="{{product.image}}" alt="">
    </div>
    <div class="product-singel__info">
        <h1>{{product.name}}</h1>
        <p>{{product.description}}</p>
        <div class="product-singel__btn-holder">
            <a class="button button--turquoise" href="/add-to-cart/{{product.id}}">Add to cart</a>
        </div>
    </div>
    
</div>