<!doctype html>
<html lang="sv">
    <head>
        <title>Panagora Store</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preload" href="/assets/style.js" as="style">
        <script>
            var dataLayer = [];
        </script>
    </head>
    <body style="visibility: hidden">
        {{> navbar logo="/static/panagora-logo.svg" }}
        {{{body}}}
        <script rel="preload" src="/assets/script.js" as="script"></script>
    </body>
</html>
